<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.its.demo.mapper.YundiaoMapper" >
  <resultMap id="BaseResultMap" type="com.its.demo.entities.Yundiao" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="work_id" property="workId" jdbcType="VARCHAR" />
    <result column="linecode" property="linecode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="region_id" property="regionId" jdbcType="VARCHAR" />
    <result column="ct_user_id" property="ctUserId" jdbcType="VARCHAR" />
    <result column="vpc_id" property="vpcId" jdbcType="VARCHAR" />
    <result column="local_cidr" property="localCidr" jdbcType="VARCHAR" />
    <result column="port_type" property="portType" jdbcType="VARCHAR" />
    <result column="bandwidth" property="bandwidth" jdbcType="INTEGER" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="vlan" property="vlan" jdbcType="VARCHAR" />
    <result column="device_type" property="deviceType" jdbcType="VARCHAR" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="local_gateway_ip" property="localGatewayIp" jdbcType="VARCHAR" />
    <result column="remote_cidr" property="remoteCidr" jdbcType="VARCHAR" />
    <result column="remote_gateway_ip" property="remoteGatewayIp" jdbcType="VARCHAR" />
    <result column="interface_name" property="interfaceName" jdbcType="VARCHAR" />
    <result column="routemode" property="routemode" jdbcType="VARCHAR" />
    <result column="bgpasn" property="bgpasn" jdbcType="VARCHAR" />
    <result column="aslocal" property="aslocal" jdbcType="VARCHAR" />
    <result column="line_type" property="lineType" jdbcType="INTEGER" />
    <result column="private_line_id" property="privateLineId" jdbcType="VARCHAR" />
    <result column="ip_version" property="ipVersion" jdbcType="VARCHAR" />
    <result column="cloud_cda_id" property="cloudCdaId" jdbcType="VARCHAR" />
    <result column="src_vtep_vlan" property="srcVtepVlan" jdbcType="INTEGER" />
    <result column="src_vtep_ip" property="srcVtepIp" jdbcType="VARCHAR" />
    <result column="src_vxlan_vni" property="srcVxlanVni" jdbcType="INTEGER" />
    <result column="src_gateway" property="srcGateway" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, work_id, linecode, name, description, region_id, ct_user_id, vpc_id, local_cidr, 
    port_type, bandwidth, location, vlan, device_type, device_id, local_gateway_ip, remote_cidr, 
    remote_gateway_ip, interface_name, routemode, bgpasn, aslocal, line_type, private_line_id, 
    ip_version, cloud_cda_id, src_vtep_vlan, src_vtep_ip, src_vxlan_vni, src_gateway, 
    add_time, mod_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from yundiao
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from yundiao
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.its.demo.entities.Yundiao" >
    insert into yundiao (id, work_id, linecode, 
      name, description, region_id, 
      ct_user_id, vpc_id, local_cidr, 
      port_type, bandwidth, location, 
      vlan, device_type, device_id, 
      local_gateway_ip, remote_cidr, remote_gateway_ip, 
      interface_name, routemode, bgpasn, 
      aslocal, line_type, private_line_id, 
      ip_version, cloud_cda_id, src_vtep_vlan, 
      src_vtep_ip, src_vxlan_vni, src_gateway, 
      add_time, mod_time)
    values (#{id,jdbcType=VARCHAR}, #{workId,jdbcType=VARCHAR}, #{linecode,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{regionId,jdbcType=VARCHAR}, 
      #{ctUserId,jdbcType=VARCHAR}, #{vpcId,jdbcType=VARCHAR}, #{localCidr,jdbcType=VARCHAR}, 
      #{portType,jdbcType=VARCHAR}, #{bandwidth,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, 
      #{vlan,jdbcType=VARCHAR}, #{deviceType,jdbcType=VARCHAR}, #{deviceId,jdbcType=VARCHAR}, 
      #{localGatewayIp,jdbcType=VARCHAR}, #{remoteCidr,jdbcType=VARCHAR}, #{remoteGatewayIp,jdbcType=VARCHAR}, 
      #{interfaceName,jdbcType=VARCHAR}, #{routemode,jdbcType=VARCHAR}, #{bgpasn,jdbcType=VARCHAR}, 
      #{aslocal,jdbcType=VARCHAR}, #{lineType,jdbcType=INTEGER}, #{privateLineId,jdbcType=VARCHAR}, 
      #{ipVersion,jdbcType=VARCHAR}, #{cloudCdaId,jdbcType=VARCHAR}, #{srcVtepVlan,jdbcType=INTEGER}, 
      #{srcVtepIp,jdbcType=VARCHAR}, #{srcVxlanVni,jdbcType=INTEGER}, #{srcGateway,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{modTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.its.demo.entities.Yundiao" >
    insert into yundiao
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="workId != null" >
        work_id,
      </if>
      <if test="linecode != null" >
        linecode,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="ctUserId != null" >
        ct_user_id,
      </if>
      <if test="vpcId != null" >
        vpc_id,
      </if>
      <if test="localCidr != null" >
        local_cidr,
      </if>
      <if test="portType != null" >
        port_type,
      </if>
      <if test="bandwidth != null" >
        bandwidth,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="vlan != null" >
        vlan,
      </if>
      <if test="deviceType != null" >
        device_type,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="localGatewayIp != null" >
        local_gateway_ip,
      </if>
      <if test="remoteCidr != null" >
        remote_cidr,
      </if>
      <if test="remoteGatewayIp != null" >
        remote_gateway_ip,
      </if>
      <if test="interfaceName != null" >
        interface_name,
      </if>
      <if test="routemode != null" >
        routemode,
      </if>
      <if test="bgpasn != null" >
        bgpasn,
      </if>
      <if test="aslocal != null" >
        aslocal,
      </if>
      <if test="lineType != null" >
        line_type,
      </if>
      <if test="privateLineId != null" >
        private_line_id,
      </if>
      <if test="ipVersion != null" >
        ip_version,
      </if>
      <if test="cloudCdaId != null" >
        cloud_cda_id,
      </if>
      <if test="srcVtepVlan != null" >
        src_vtep_vlan,
      </if>
      <if test="srcVtepIp != null" >
        src_vtep_ip,
      </if>
      <if test="srcVxlanVni != null" >
        src_vxlan_vni,
      </if>
      <if test="srcGateway != null" >
        src_gateway,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="modTime != null" >
        mod_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="workId != null" >
        #{workId,jdbcType=VARCHAR},
      </if>
      <if test="linecode != null" >
        #{linecode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="ctUserId != null" >
        #{ctUserId,jdbcType=VARCHAR},
      </if>
      <if test="vpcId != null" >
        #{vpcId,jdbcType=VARCHAR},
      </if>
      <if test="localCidr != null" >
        #{localCidr,jdbcType=VARCHAR},
      </if>
      <if test="portType != null" >
        #{portType,jdbcType=VARCHAR},
      </if>
      <if test="bandwidth != null" >
        #{bandwidth,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="vlan != null" >
        #{vlan,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="localGatewayIp != null" >
        #{localGatewayIp,jdbcType=VARCHAR},
      </if>
      <if test="remoteCidr != null" >
        #{remoteCidr,jdbcType=VARCHAR},
      </if>
      <if test="remoteGatewayIp != null" >
        #{remoteGatewayIp,jdbcType=VARCHAR},
      </if>
      <if test="interfaceName != null" >
        #{interfaceName,jdbcType=VARCHAR},
      </if>
      <if test="routemode != null" >
        #{routemode,jdbcType=VARCHAR},
      </if>
      <if test="bgpasn != null" >
        #{bgpasn,jdbcType=VARCHAR},
      </if>
      <if test="aslocal != null" >
        #{aslocal,jdbcType=VARCHAR},
      </if>
      <if test="lineType != null" >
        #{lineType,jdbcType=INTEGER},
      </if>
      <if test="privateLineId != null" >
        #{privateLineId,jdbcType=VARCHAR},
      </if>
      <if test="ipVersion != null" >
        #{ipVersion,jdbcType=VARCHAR},
      </if>
      <if test="cloudCdaId != null" >
        #{cloudCdaId,jdbcType=VARCHAR},
      </if>
      <if test="srcVtepVlan != null" >
        #{srcVtepVlan,jdbcType=INTEGER},
      </if>
      <if test="srcVtepIp != null" >
        #{srcVtepIp,jdbcType=VARCHAR},
      </if>
      <if test="srcVxlanVni != null" >
        #{srcVxlanVni,jdbcType=INTEGER},
      </if>
      <if test="srcGateway != null" >
        #{srcGateway,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.its.demo.entities.Yundiao" >
    update yundiao
    <set >
      <if test="workId != null" >
        work_id = #{workId,jdbcType=VARCHAR},
      </if>
      <if test="linecode != null" >
        linecode = #{linecode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null" >
        region_id = #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="ctUserId != null" >
        ct_user_id = #{ctUserId,jdbcType=VARCHAR},
      </if>
      <if test="vpcId != null" >
        vpc_id = #{vpcId,jdbcType=VARCHAR},
      </if>
      <if test="localCidr != null" >
        local_cidr = #{localCidr,jdbcType=VARCHAR},
      </if>
      <if test="portType != null" >
        port_type = #{portType,jdbcType=VARCHAR},
      </if>
      <if test="bandwidth != null" >
        bandwidth = #{bandwidth,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="vlan != null" >
        vlan = #{vlan,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="localGatewayIp != null" >
        local_gateway_ip = #{localGatewayIp,jdbcType=VARCHAR},
      </if>
      <if test="remoteCidr != null" >
        remote_cidr = #{remoteCidr,jdbcType=VARCHAR},
      </if>
      <if test="remoteGatewayIp != null" >
        remote_gateway_ip = #{remoteGatewayIp,jdbcType=VARCHAR},
      </if>
      <if test="interfaceName != null" >
        interface_name = #{interfaceName,jdbcType=VARCHAR},
      </if>
      <if test="routemode != null" >
        routemode = #{routemode,jdbcType=VARCHAR},
      </if>
      <if test="bgpasn != null" >
        bgpasn = #{bgpasn,jdbcType=VARCHAR},
      </if>
      <if test="aslocal != null" >
        aslocal = #{aslocal,jdbcType=VARCHAR},
      </if>
      <if test="lineType != null" >
        line_type = #{lineType,jdbcType=INTEGER},
      </if>
      <if test="privateLineId != null" >
        private_line_id = #{privateLineId,jdbcType=VARCHAR},
      </if>
      <if test="ipVersion != null" >
        ip_version = #{ipVersion,jdbcType=VARCHAR},
      </if>
      <if test="cloudCdaId != null" >
        cloud_cda_id = #{cloudCdaId,jdbcType=VARCHAR},
      </if>
      <if test="srcVtepVlan != null" >
        src_vtep_vlan = #{srcVtepVlan,jdbcType=INTEGER},
      </if>
      <if test="srcVtepIp != null" >
        src_vtep_ip = #{srcVtepIp,jdbcType=VARCHAR},
      </if>
      <if test="srcVxlanVni != null" >
        src_vxlan_vni = #{srcVxlanVni,jdbcType=INTEGER},
      </if>
      <if test="srcGateway != null" >
        src_gateway = #{srcGateway,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null" >
        mod_time = #{modTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.its.demo.entities.Yundiao" >
    update yundiao
    set work_id = #{workId,jdbcType=VARCHAR},
      linecode = #{linecode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      region_id = #{regionId,jdbcType=VARCHAR},
      ct_user_id = #{ctUserId,jdbcType=VARCHAR},
      vpc_id = #{vpcId,jdbcType=VARCHAR},
      local_cidr = #{localCidr,jdbcType=VARCHAR},
      port_type = #{portType,jdbcType=VARCHAR},
      bandwidth = #{bandwidth,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR},
      vlan = #{vlan,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=VARCHAR},
      device_id = #{deviceId,jdbcType=VARCHAR},
      local_gateway_ip = #{localGatewayIp,jdbcType=VARCHAR},
      remote_cidr = #{remoteCidr,jdbcType=VARCHAR},
      remote_gateway_ip = #{remoteGatewayIp,jdbcType=VARCHAR},
      interface_name = #{interfaceName,jdbcType=VARCHAR},
      routemode = #{routemode,jdbcType=VARCHAR},
      bgpasn = #{bgpasn,jdbcType=VARCHAR},
      aslocal = #{aslocal,jdbcType=VARCHAR},
      line_type = #{lineType,jdbcType=INTEGER},
      private_line_id = #{privateLineId,jdbcType=VARCHAR},
      ip_version = #{ipVersion,jdbcType=VARCHAR},
      cloud_cda_id = #{cloudCdaId,jdbcType=VARCHAR},
      src_vtep_vlan = #{srcVtepVlan,jdbcType=INTEGER},
      src_vtep_ip = #{srcVtepIp,jdbcType=VARCHAR},
      src_vxlan_vni = #{srcVxlanVni,jdbcType=INTEGER},
      src_gateway = #{srcGateway,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      mod_time = #{modTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>