<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.its.demo.mapper.mysql.UserMapper">
    <resultMap id="BaseResultMap" type="com.its.demo.entities.User">
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="no" property="no" jdbcType="INTEGER"/>
        <result column="addr" property="addr" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getByName" resultType="com.its.demo.entities.User" parameterType="java.lang.String">
        select * from user
        <if test="name != null">
            where name like concat('%', #{name}, '%')
        </if>
    </select>
    <select id="getByAddr" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from user
        <if test="addr != null">
            where addr like concat('%', #{addr}, '%')
        </if>
    </select>
</mapper>